<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="location.href='/commentRegister'">작성</button >
<button onClick="location.reload();">새로고침</button >
<table>
    <thread>
        <th> [기능]</th>
        <th> [번호]</th>
        <th> [제목]</th>
        <th> [내용]</th>
        <th> [작성일시]</th>
    </thread>
    {% if posts %}
        {% for post in posts %}
            <tr>
                <td><button onclick="location.href='/reviewRead/{{ post.id }}'">이동</button></td>
                <td>{{ post.id}}</td>
                <td>{{ post.title}}</td>
                <td>{{ post.contents}}</td>
                <td>{{ post.create_date}}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
</body>
</html>