<!DOCTYPE html>
<html lang="ko">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta content=kr name=content-language>
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="다이닝코드, diningcode">
    <meta name="description" content="전국 어디서나 진짜 맛집만 찾아주는 빅데이터 맛집검색, 다이닝코드"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="빅데이터 맛집검색, 다이닝코드"/>
    <meta property="og:image" content="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/img/diningcode_logo.png"/>
    <meta property="og:site_name" content="다이닝코드"/>
    <meta property="og:description" content="전국 어디서나 진짜 맛집만 찾아주는 빅데이터 맛집검색, 다이닝코드"/>
    <meta name="format-detection" content="telephone=no, address=no, email=no"/>
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="Pragma" content="No-Cache">
    <meta http-equiv="Expire" content="-1">
    <meta content="1 Days" name="revisit-after">
    <meta content="ALL" name="ROBOTS">
    <meta http-equiv="imagetoolbar" content="no">
    <link rel="canonical" href="https://www.diningcode.com"/>
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.diningcode.com">
    <title>빅데이터 맛집검색, 다이닝코드</title>

    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/web/common.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/web/content.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/web/layout.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/web/main.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/web/styleDefault.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/web/sub.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/web/jquery.rateyo.min.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/swiper.min.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/custom.css?1.4.16"/>

    <script type="text/javascript" src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/web.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="/2018/images/web/common/favicon.ico"/>

    <script src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/jquery-1.12.0.min.js"
            charset="utf-8"></script>
    <script type="Text/JavaScript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/swiper.min.js" charset="utf-8"></script>
    <script src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/getAjax.js?1.4.16"></script>
    <script src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/function.js?1.4.16"></script>
    <script src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/jquery.cookie.js?1.4.16"></script>

    <script type="Text/JavaScript"
            src="https://cdn.rawgit.com/nhnent/tui.code-snippet/v1.2.5/dist/tui-code-snippet.min.js"></script>
    <script type="Text/JavaScript"
            src="https://cdn.rawgit.com/faisalman/ua-parser-js/v0.7.1/src/ua-parser.min.js"></script>
    <script type="Text/JavaScript"
            src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/appLoader/app-loader.min.js?1.4.16"></script>
    <script type="Text/JavaScript"
            src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/appLoader.js?1.4.16"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Facebook pixel -->
    <script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq)return;
			n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq)f._fbq = n;
			n.push = n;
			n.loaded = !0;
			n.version = '2.0';
			n.queue = [];
			t = b.createElement(e);
			t.async = !0;
			t.src = v;
			s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window,
			document, 'script', '//connect.facebook.net/en_US/fbevents.js');
		fbq('init', '950571798344364');
		fbq('track', "PageView");
		fbq('track', "viewContent");










    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=950571798344364&ev=PageView&noscript=1"/>
    </noscript>

    <!-- Naver -->
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=zqdk36n102"></script>

    <!-- Kakao -->
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

    <!-- Google analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46679784-1"></script>

    <script typ="Text/JavaScript">
// Search cookie
if( $.cookie("dckeyword") ) {
	var keyword	= JSON.parse($.cookie("dckeyword"));
}
else {
	var keyword;
}

// Kakao
Kakao.init('17a48422597911bed5104a144393076f');

// GA
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-46679784-1');










    </script>
    <script data-ad-client="ca-pub-1272248965614830" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="Text/JavaScript"
            src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/masonry.pkgd.js?1.4.16"></script>
    <script type="Text/JavaScript">
setKinesis("dctoday");
var check	= 0;
var device	= "web";
$(document).ready(function () {
	// 좋아요 버튼
	$('[id^=btn_favorites]').click(function(e) {
		var v_rid	= $(this).attr("id").replace("btn_favorites_", "");
		setFavorites("restaurant", v_rid, $(this));
		return false;
	});

	setList(true);

	// 팝업
	if( !$.cookie("dcpopup") ) {
		getAd("ad_main_popup", "popup");
	}

    $.each($(".ctxt"),function(key,data){
        if($(this).outerHeight() < $(this).find('.content-text-area').outerHeight()) {
            $(this).parent().find('.more-btn').show();
        }
    });
});

// 리스트 정렬
function setList(b) {
	if( b == true ) {
		$('.grid').masonry({
			itemSelector: '.item',
			columnWidth: '.grid-sizer',
			percentPosition: true
		});
	}
	else {
		$('.grid').masonry('destroy');
	}
}

// 리뷰 내용 더보기
function getMoreContents(obj) {
	$(obj).parent().toggleClass('short');
	if( $(obj).html() == "더보기" ) {
		$(obj).html("접기");
	}
	else {
		$(obj).html("더보기");
	}
	setList(true);
}

// 리뷰 더보기
function setMoreReview(obj, type, start_id, page) {

	var jData	= {"mode" : "TODAY_LIST", "type" : type, "start_id" : start_id, "page" : page};
	$.post("/2018/ajax/review.php", jData, function(data) {
        $('#div_' + type).append(data);
	    var $target = $('#div_' + type).find('.ctxt');
	    $.each($target,function(key,data){
	        if($(this).outerHeight() < $(this).find('.content-text-area').outerHeight()) {
	            $(this).parent().find('.more-btn').show();
            }
        });
		$(obj).parent().remove();
		setList(false);
		setList(true);
	});
}

function getReload(m) {
	if( !m ) {
		$('.know_rest').hide();
		var cnt	= ( $('.know_rest').length > 4 ) ? 4 : $('.know_rest').length;
	}
	else {
		var cnt	= ( $('.know_rest').length > m ) ? m : $('.know_rest').length;
	}

	var i = 0;
	while(i < cnt) {
		var rand	= Math.floor(Math.random() * $('.know_rest').length);
		if( $('.know_rest:eq(' + rand + ')').css("display") == "none" ) {
			$('.know_rest:eq(' + rand + ')').show();
			i++;
		}
	}
}










    </script>
</head>

<!-- e: 메인배너2,3-->
<p class="gap20"></p><!-- s: 실시간 맛집평가-->
<div class="m-list realtime-appra">
    <p class="btit">검색 결과</p>
    <div class="list grid">
        <div class="grid-sizer"></div>

        {% if posts %}
        {% for post in posts %}
          <tr>
                <td> {{ post.id }} </td>
                <td> {{ post.writer }} </td>>
                <td> {{ post.contents}} </td>
                <td> {{ post.create_date}} </td>
            </tr>
        {% endfor %}
        {% endif %}

        {% for rest in rests %}
        <!--음식점 1 버튼-->
        <div class="item short">
            <div class="img-grade button" onClick="location.href='/rest_detail/{{ forloop.counter }}'">
                <!--음식점 1 대표사진-->
                <div class="img"><img
                        src="{{rest.pic_url}}"/>
                </div>
                <!--음식점 이름~주소-->
                <div>
                    <p class="btxt">{{rest.name}} <span
                            style="color:#9999a0;font-weight:normal;font-size:13px;">{{rest.address}}</span>
                    </p>
                    <p class="star"><span style="width:80%"></span></p>
                </div>
            </div>
            <div class="grade-list">
            </div>
            <div class="ctxt">
                <div class="content-text-area">{{rest.time}}</div>
            </div>
            <div class="ctxt">
                <div class="content-text-area">{{rest.phonenum}}</div>
            </div>
            <div onClick="getMoreContents(this);" class="button more-btn" style="display:none">더보기
            </div>
<!--            &lt;!&ndash;음식점 1 사진&ndash;&gt;-->
<!--            <p class="img" style="height:130px; overflow:hidden;">-->
<!--                <img src="{{rest_menu.}}"-->
<!--                     class="button" style="width:195px; margin-top:-35px;"-->
<!--                     />-->
<!--                <img src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121012347_menu1_26c47b4327c0.jpg"-->
<!--                     class="button" style="width:195px; margin-top:-35px;"-->
<!--                     />-->
<!--            </p>-->
        </div>
        <!--음식점 1 끝-->
        {% endfor %}

        <!--음식점 2 시작-->
        <div class="item short">
            <div class="img-grade button" onClick="location.href='/profile.php?rid=dMRvsYQStTNo'">

                <div class="img"><img
                        src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121010903_photo1_23dc2daad0ce.jpg"/>
                </div>
                <div>
                    <p class="stxt">미니롱 (1곳 평가, 1개 공감받음)</p>
                    <p class="btxt">화수목 <span
                            style="color:#9999a0;font-weight:normal;font-size:13px;">| 서현역</span>
                    </p>
                    <p class="star"><span style="width:100%"></span></p>
                    <span style="position:absolute;bottom:0;left:190px;font-size:13px;color:#9999a0;">17분 전</span>
                </div>
            </div>
            <div class="grade-list">
                <p class="point">맛<span class="num">5</span></p>
                <p class="point">가격<span class="num">3</span></p>
                <p class="point">서비스<span class="num">5</span></p>
            </div>
            <div class="ctxt">
                <div class="content-text-area">기본적인 음식 세팅이나 인테리어가 깔끔하고 조리도 다 해주셔서 편해요 음식도 맛있어요</div>
            </div>
            <div onClick="getMoreContents(this);" class="button more-btn" style="display:none">더보기
            </div>
            <p class="img" style="height:130px; overflow:hidden;">
                <img src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121010903_photo1_23dc2daad0ce.jpg"
                     class="button" style="width:195px; margin-top:-35px;"
                     onClick="getViewer('{|dq|info|dq|:{|dq|rn|dq|:|dq|\ud654\uc218\ubaa9|dq|,|dq|count|dq|:3,|dq|photo|dq|:|dq||dq|,|dq|name|dq|:|dq|\ubbf8\ub2c8\ub871 (1\uacf3 \ud3c9\uac00, 1\uac1c \uacf5\uac10\ubc1b\uc74c)|dq|,|dq|date|dq|:|dq|17\ubd84 \uc804|dq|},|dq|image|dq|:[|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121010903_photo1_23dc2daad0ce.jpg|dq|,|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121010903_photo2_23dc2daad0ce.jpg|dq|,|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121010903_photo3_23dc2daad0ce.jpg|dq|]}');"/>
                <img src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121010906_menu1_23dc2daad0ce.jpg"
                     class="button" style="width:195px; margin-top:-35px;"
                     onClick="getViewer('{|dq|info|dq|:{|dq|rn|dq|:|dq|\ud654\uc218\ubaa9|dq|,|dq|count|dq|:1,|dq|photo|dq|:|dq||dq|,|dq|name|dq|:|dq|\ubbf8\ub2c8\ub871 (1\uacf3 \ud3c9\uac00, 1\uac1c \uacf5\uac10\ubc1b\uc74c)|dq|,|dq|date|dq|:|dq|17\ubd84 \uc804|dq|},|dq|image|dq|:[|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121010906_menu1_23dc2daad0ce.jpg|dq|]}');"/>
            </p>
            <div class="tags">
                <span class='tag'>식사모임</span><span class='tag'>회식</span><span
                    class='tag'>캐주얼한</span><span class='tag'>깔끔한</span><span class='tag'>무료주차</span>
            </div> <!-- keyword :: end -->
            <div class="btns">
                <div onClick="if(confirm('로그인이 필요합니다.\n로그인 하시겠습니까?')) { location.href='/my.php?login'; }"
                     class="btn-sympa fl" style="cursor:pointer;" value="N">공감(1)
                </div>
                <div onClick="if(confirm('로그인이 필요합니다.\n로그인 하시겠습니까?')) { location.href='/my.php?login'; }"
                     class="btn-appra fr" style="cursor:pointer;">나도 평가하기
                </div>
            </div>
        </div>
        <div class="item short">
            <div class="img-grade button" onClick="location.href='/profile.php?rid=KggMG5DYBUwO'">

                <div class="img"><img
                        src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121010622991_photo_87ba813992d6.jpg"/>
                </div>
                <div>
                    <p class="stxt">농농이 (11곳 평가, 80개 공감받음)</p>
                    <p class="btxt">일당 <span
                            style="color:#9999a0;font-weight:normal;font-size:13px;">| 대전둔산동</span>
                    </p>
                    <p class="star"><span style="width:80%"></span></p>
                    <span style="position:absolute;bottom:0;left:190px;font-size:13px;color:#9999a0;">18분 전</span>
                </div>
            </div>
            <div class="grade-list">
                <p class="point">맛<span class="num">5</span></p>
                <p class="point">가격<span class="num">3</span></p>
                <p class="point">서비스<span class="num">5</span></p>
            </div>
            <div class="ctxt">
                <div class="content-text-area">10년전부터 좋아해서 자주 갔던곳이어요 고기잡내가없어 부드러어서 맛있어요~늘 사람이 많은곳
                </div>
            </div>
            <div onClick="getMoreContents(this);" class="button more-btn" style="display:none">더보기
            </div>
            <p class="img" style="height:130px; overflow:hidden;">
                <img src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121010622991_photo_87ba813992d6.jpg"
                     class="button" style="width:195px; margin-top:-35px;"
                     onClick="getViewer('{|dq|info|dq|:{|dq|rn|dq|:|dq|\uc77c\ub2f9|dq|,|dq|count|dq|:2,|dq|photo|dq|:|dq||dq|,|dq|name|dq|:|dq|\ub18d\ub18d\uc774 (11\uacf3 \ud3c9\uac00, 80\uac1c \uacf5\uac10\ubc1b\uc74c)|dq|,|dq|date|dq|:|dq|18\ubd84 \uc804|dq|},|dq|image|dq|:[|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121010622991_photo_87ba813992d6.jpg|dq|,|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121010623324_photo_87ba813992d6.jpg|dq|]}');"/>
                <img src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121010632074_menu_87ba813992d6.jpg"
                     class="button" style="width:195px; margin-top:-35px;"
                     onClick="getViewer('{|dq|info|dq|:{|dq|rn|dq|:|dq|\uc77c\ub2f9|dq|,|dq|count|dq|:1,|dq|photo|dq|:|dq||dq|,|dq|name|dq|:|dq|\ub18d\ub18d\uc774 (11\uacf3 \ud3c9\uac00, 80\uac1c \uacf5\uac10\ubc1b\uc74c)|dq|,|dq|date|dq|:|dq|18\ubd84 \uc804|dq|},|dq|image|dq|:[|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121010632074_menu_87ba813992d6.jpg|dq|]}');"/>
            </p>
            <div class="tags">
                <span class='tag'>점심식사</span><span class='tag'>저녁식사</span><span
                    class='tag'>숨은맛집</span><span class='tag'>서민적인</span><span
                    class='tag'>가성비좋은</span><span class='tag'>푸짐한</span></div>
            <!-- keyword :: end -->
            <div class="btns">
                <div onClick="if(confirm('로그인이 필요합니다.\n로그인 하시겠습니까?')) { location.href='/my.php?login'; }"
                     class="btn-sympa fl" style="cursor:pointer;" value="N">공감(2)
                </div>
                <div onClick="if(confirm('로그인이 필요합니다.\n로그인 하시겠습니까?')) { location.href='/my.php?login'; }"
                     class="btn-appra fr" style="cursor:pointer;">나도 평가하기
                </div>
            </div>
        </div>
        <div class="item short">
            <div class="img-grade button" onClick="location.href='/profile.php?rid=pPZJbTCaBTLD'">

                <div class="img"><img
                        src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121010446_photo1_2c1dfc47741d.jpg"/>
                </div>
                <div>
                    <p class="stxt">heekyung (42곳 평가, 152개 공감받음)</p>
                    <p class="btxt">유가네 <span
                            style="color:#9999a0;font-weight:normal;font-size:13px;">| 천호</span></p>
                    <p class="star"><span style="width:80%"></span></p>
                    <span style="position:absolute;bottom:0;left:190px;font-size:13px;color:#9999a0;">21분 전</span>
                </div>
            </div>
            <div class="grade-list">
                <p class="point">맛<span class="num">5</span></p>
                <p class="point">가격<span class="num">5</span></p>
                <p class="point">서비스<span class="num">3</span></p>
            </div>
            <div class="ctxt">
                <div class="content-text-area">유가네 어릴때부터 종종 갔었는데 여전히 맛있네요 요샌 닭갈비가 아예 구워져서 나오드라구요 유가네
                    배달도 엄청 잘 되어있고 가끔 시켜먹는데 맛있네요
                </div>
            </div>
            <div onClick="getMoreContents(this);" class="button more-btn" style="display:none">더보기
            </div>
            <p class="img" style="height:130px; overflow:hidden;">
                <img src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121010446_photo1_2c1dfc47741d.jpg"
                     class="button" style="width:195px; margin-top:-35px;"
                     onClick="getViewer('{|dq|info|dq|:{|dq|rn|dq|:|dq|\uc720\uac00\ub124|dq|,|dq|count|dq|:2,|dq|photo|dq|:|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dc-user-profile-photo\/profilephoto_20211218083903_2c1dfc47741d.jpg|dq|,|dq|name|dq|:|dq|heekyung (42\uacf3 \ud3c9\uac00, 152\uac1c \uacf5\uac10\ubc1b\uc74c)|dq|,|dq|date|dq|:|dq|21\ubd84 \uc804|dq|},|dq|image|dq|:[|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121010446_photo1_2c1dfc47741d.jpg|dq|,|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121010446_photo2_2c1dfc47741d.jpg|dq|]}');"/>
                <img src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121010453_menu1_2c1dfc47741d.jpg"
                     class="button" style="width:195px; margin-top:-35px;"
                     onClick="getViewer('{|dq|info|dq|:{|dq|rn|dq|:|dq|\uc720\uac00\ub124|dq|,|dq|count|dq|:2,|dq|photo|dq|:|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dc-user-profile-photo\/profilephoto_20211218083903_2c1dfc47741d.jpg|dq|,|dq|name|dq|:|dq|heekyung (42\uacf3 \ud3c9\uac00, 152\uac1c \uacf5\uac10\ubc1b\uc74c)|dq|,|dq|date|dq|:|dq|21\ubd84 \uc804|dq|},|dq|image|dq|:[|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121010453_menu1_2c1dfc47741d.jpg|dq|,|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121010453_menu2_2c1dfc47741d.jpg|dq|]}');"/>
            </p>
            <div class="tags">
                <span class='tag'>저녁식사</span><span class='tag'>서민적인</span><span
                    class='tag'>캐주얼한</span><span class='tag'>가성비좋은</span></div>
            <!-- keyword :: end -->
            <div class="btns">
                <div onClick="if(confirm('로그인이 필요합니다.\n로그인 하시겠습니까?')) { location.href='/my.php?login'; }"
                     class="btn-sympa fl" style="cursor:pointer;" value="N">공감(2)
                </div>
                <div onClick="if(confirm('로그인이 필요합니다.\n로그인 하시겠습니까?')) { location.href='/my.php?login'; }"
                     class="btn-appra fr" style="cursor:pointer;">나도 평가하기
                </div>
            </div>
        </div>
        <div class="item short">
            <div class="img-grade button" onClick="location.href='/profile.php?rid=k7pXKQ2S3LYk'">

                <div class="img" style="top:10px;"><img
                        src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121125208690_photo_586ced7692a5.jpg"/>
                </div>
                <div>
                    <p style="color:#fc5b63;font-size:13px;margin-bottom:3px;">
                        <img src="https://s3-ap-northeast-1.amazonaws.com/dcicons/members/de3d409367e9c0da1f45827928bba8ea.png"
                             alt="" style="width:70px;">
                    </p>
                    <p class="stxt">Frye de Bacon (51곳 평가, 406개 공감받음)</p>
                    <p class="btxt">e문어세상 <span
                            style="color:#9999a0;font-weight:normal;font-size:13px;">| 여의도</span>
                    </p>
                    <p class="star"><span style="width:80%"></span></p>
                    <span style="position:absolute;bottom:0;left:190px;font-size:13px;color:#9999a0;">29분 전</span>
                </div>
            </div>
            <div class="grade-list">
                <p class="point">맛<span class="num">5</span></p>
                <p class="point">가격<span class="num">3</span></p>
                <p class="point">서비스<span class="num">5</span></p>
            </div>
            <div class="ctxt">
                <div class="content-text-area">&quot;기본적인 음식 솜씨가 좋은 듯하며 해산물도 싱싱해 좋은 곳&quot;회사 근처라 퇴근
                    후 간단히 한잔 할 때 종종 찾는 곳입니다. 연포탕을 주로 시키는데, 홍합과 전복, 문어가 모두 싱싱해서 상당히 좋습니다. 그러다 보니 국물도
                    당연히 맛이 좋아 술안주로 제격이고, 막판에 칼국수 사리 추가하면 속도 아주 든든합니다.본메뉴 외에 딸려 나오는 기본찬도 뭐 하나 부족함 없이
                    맛있습니다. 연포탕이 준비되는 동안 두부구이 혹은 전 등을 주시는데, 주방에 계신 분의 음식 솜씨가 좋으신 듯합니다.소주를 아주 잘
                    얼려서..살얼음이 살짝 언 상태로 제공되는 것도 아주 좋았습니다. 대단한 맛집까지는 아니지만, 간단히 한잔 하고 가기엔 참 괜찮은 곳입니다.
                </div>
            </div>
            <div onClick="getMoreContents(this);" class="button more-btn" style="display:none">더보기
            </div>
            <p class="img" style="height:130px; overflow:hidden;">
                <img src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121125208690_photo_586ced7692a5.jpg"
                     class="button" style="width:195px; margin-top:-35px;"
                     onClick="getViewer('{|dq|info|dq|:{|dq|rn|dq|:|dq|e\ubb38\uc5b4\uc138\uc0c1|dq|,|dq|count|dq|:2,|dq|photo|dq|:|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dc-user-profile-photo\/profilephoto_A_20210113051718.jpg|dq|,|dq|name|dq|:|dq|Frye de Bacon (51\uacf3 \ud3c9\uac00, 406\uac1c \uacf5\uac10\ubc1b\uc74c)|dq|,|dq|date|dq|:|dq|29\ubd84 \uc804|dq|},|dq|image|dq|:[|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121125208690_photo_586ced7692a5.jpg|dq|,|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121125208958_photo_586ced7692a5.jpg|dq|]}');"/>
            </p>
            <div class="tags">
                <span class='tag'>저녁식사</span><span class='tag'>술모임</span><span class='tag'>회식</span><span
                    class='tag'>서민적인</span><span class='tag'>캐주얼한</span></div>
            <!-- keyword :: end -->
            <div class="btns">
                <div onClick="if(confirm('로그인이 필요합니다.\n로그인 하시겠습니까?')) { location.href='/my.php?login'; }"
                     class="btn-sympa fl" style="cursor:pointer;" value="N">공감(3)
                </div>
                <div onClick="if(confirm('로그인이 필요합니다.\n로그인 하시겠습니까?')) { location.href='/my.php?login'; }"
                     class="btn-appra fr" style="cursor:pointer;">나도 평가하기
                </div>
            </div>
        </div>
        <div class="item short">
            <div class="img-grade button" onClick="location.href='/profile.php?rid=iS8YvFUMK2gH'">

                <div class="img"><img
                        src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121124930_photo1_e2a67af1eca1.jpg"/>
                </div>
                <div>
                    <p class="stxt">herty (321곳 평가, 4,428개 공감받음)</p>
                    <p class="btxt">칸다소바 <span
                            style="color:#9999a0;font-weight:normal;font-size:13px;">| 동성로</span>
                    </p>
                    <p class="star"><span style="width:80%"></span></p>
                    <span style="position:absolute;bottom:0;left:190px;font-size:13px;color:#9999a0;">36분 전</span>
                </div>
            </div>
            <div class="grade-list">
                <p class="point">맛<span class="num">5</span></p>
                <p class="point">가격<span class="num">5</span></p>
                <p class="point">서비스<span class="num">5</span></p>
            </div>
            <div class="ctxt">
                <div class="content-text-area">가성비 좋은 마제소바! 맛집이라고 유명한 곳인데 개인적인취향으로는 맛있긴 했지만 살짝
                    느끼했다.그래도 한끼 깔끔하게 먹기엔 좋았고 다먹고 밥을 추가해서 먹을 수 있는 점도 좋았다!
                </div>
            </div>
            <div onClick="getMoreContents(this);" class="button more-btn" style="display:none">더보기
            </div>
            <p class="img" style="height:130px; overflow:hidden;">
                <img src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121124930_photo1_e2a67af1eca1.jpg"
                     class="button" style="width:195px; margin-top:-35px;"
                     onClick="getViewer('{|dq|info|dq|:{|dq|rn|dq|:|dq|\uce78\ub2e4\uc18c\ubc14|dq|,|dq|count|dq|:2,|dq|photo|dq|:|dq||dq|,|dq|name|dq|:|dq|herty (321\uacf3 \ud3c9\uac00, 4,428\uac1c \uacf5\uac10\ubc1b\uc74c)|dq|,|dq|date|dq|:|dq|36\ubd84 \uc804|dq|},|dq|image|dq|:[|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121124930_photo1_e2a67af1eca1.jpg|dq|,|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121124930_photo2_e2a67af1eca1.jpg|dq|]}');"/>
                <img src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121124932_menu1_e2a67af1eca1.jpg"
                     class="button" style="width:195px; margin-top:-35px;"
                     onClick="getViewer('{|dq|info|dq|:{|dq|rn|dq|:|dq|\uce78\ub2e4\uc18c\ubc14|dq|,|dq|count|dq|:1,|dq|photo|dq|:|dq||dq|,|dq|name|dq|:|dq|herty (321\uacf3 \ud3c9\uac00, 4,428\uac1c \uacf5\uac10\ubc1b\uc74c)|dq|,|dq|date|dq|:|dq|36\ubd84 \uc804|dq|},|dq|image|dq|:[|dq|https:\/\/s3-ap-northeast-1.amazonaws.com\/dcreviewsresized\/pre_20220121124932_menu1_e2a67af1eca1.jpg|dq|]}');"/>
            </p>
            <div class="tags">
                <span class='tag'>점심식사</span><span class='tag'>저녁식사</span><span
                    class='tag'>혼밥</span><span class='tag'>서민적인</span><span class='tag'>가성비좋은</span>
            </div> <!-- keyword :: end -->
            <div class="btns">
                <div onClick="if(confirm('로그인이 필요합니다.\n로그인 하시겠습니까?')) { location.href='/my.php?login'; }"
                     class="btn-sympa fl" style="cursor:pointer;" value="N">공감(3)
                </div>
                <div onClick="if(confirm('로그인이 필요합니다.\n로그인 하시겠습니까?')) { location.href='/my.php?login'; }"
                     class="btn-appra fr" style="cursor:pointer;">나도 평가하기
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div style='height:60px;'></div>
<p class="gap20"></p>

<footer id="footer-wrap" class="div-cont">
</footer>
</body>
</html>
