<!DOCTYPE html>
<html lang="ko">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta content=kr name=content-language>
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="다이닝코드, diningcode">
    <meta name="description" content="전국 어디서나 진짜 맛집만 찾아주는 빅데이터 맛집검색, 다이닝코드"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="빅데이터 맛집검색, 다이닝코드"/>
    <meta property="og:image" content="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/img/diningcode_logo.png"/>
    <meta property="og:site_name" content="다이닝코드"/>
    <meta property="og:description" content="전국 어디서나 진짜 맛집만 찾아주는 빅데이터 맛집검색, 다이닝코드"/>
    <meta name="format-detection" content="telephone=no, address=no, email=no"/>
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="Pragma" content="No-Cache">
    <meta http-equiv="Expire" content="-1">
    <meta content="1 Days" name="revisit-after">
    <meta content="ALL" name="ROBOTS">
    <meta http-equiv="imagetoolbar" content="no">
    <link rel="canonical" href="https://www.diningcode.com"/>
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.diningcode.com">
    <title>Recommended Restaurants by University</title>

    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/web/common.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/web/content.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/web/layout.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/web/main.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/web/styleDefault.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/web/sub.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/web/jquery.rateyo.min.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/swiper.min.css?1.4.16"/>
    <link rel="stylesheet" type="text/css"
          href="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/css/custom.css?1.4.16"/>

    <script type="text/javascript" src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/web.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="/2018/images/web/common/favicon.ico"/>

    <script src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/jquery-1.12.0.min.js"
            charset="utf-8"></script>
    <script type="Text/JavaScript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/swiper.min.js" charset="utf-8"></script>
    <script src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/getAjax.js?1.4.16"></script>
    <script src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/function.js?1.4.16"></script>
    <script src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/jquery.cookie.js?1.4.16"></script>

    <script type="Text/JavaScript"
            src="https://cdn.rawgit.com/nhnent/tui.code-snippet/v1.2.5/dist/tui-code-snippet.min.js"></script>
    <script type="Text/JavaScript"
            src="https://cdn.rawgit.com/faisalman/ua-parser-js/v0.7.1/src/ua-parser.min.js"></script>
    <script type="Text/JavaScript"
            src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/appLoader/app-loader.min.js?1.4.16"></script>
    <script type="Text/JavaScript"
            src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/appLoader.js?1.4.16"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Facebook pixel -->
    <script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq)return;
			n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq)f._fbq = n;
			n.push = n;
			n.loaded = !0;
			n.version = '2.0';
			n.queue = [];
			t = b.createElement(e);
			t.async = !0;
			t.src = v;
			s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window,
			document, 'script', '//connect.facebook.net/en_US/fbevents.js');
		fbq('init', '950571798344364');
		fbq('track', "PageView");
		fbq('track', "viewContent");










    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=950571798344364&ev=PageView&noscript=1"/>
    </noscript>

    <!-- Naver -->
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=zqdk36n102"></script>

    <!-- Kakao -->
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

    <!-- Google analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46679784-1"></script>

    <script typ="Text/JavaScript">
// Search cookie
if( $.cookie("dckeyword") ) {
	var keyword	= JSON.parse($.cookie("dckeyword"));
}
else {
	var keyword;
}

// Kakao
Kakao.init('17a48422597911bed5104a144393076f');

// GA
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-46679784-1');










    </script>
    <script data-ad-client="ca-pub-1272248965614830" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="Text/JavaScript"
            src="https://s3-ap-northeast-1.amazonaws.com/dcicons/new/lib/js/masonry.pkgd.js?1.4.16"></script>
    <script type="Text/JavaScript">
setKinesis("dctoday");
var check	= 0;
var device	= "web";
$(document).ready(function () {
	// 좋아요 버튼
	$('[id^=btn_favorites]').click(function(e) {
		var v_rid	= $(this).attr("id").replace("btn_favorites_", "");
		setFavorites("restaurant", v_rid, $(this));
		return false;
	});

	setList(true);

	// 팝업
	if( !$.cookie("dcpopup") ) {
		getAd("ad_main_popup", "popup");
	}

    $.each($(".ctxt"),function(key,data){
        if($(this).outerHeight() < $(this).find('.content-text-area').outerHeight()) {
            $(this).parent().find('.more-btn').show();
        }
    });
});

// 리스트 정렬
function setList(b) {
	if( b == true ) {
		$('.grid').masonry({
			itemSelector: '.item',
			columnWidth: '.grid-sizer',
			percentPosition: true
		});
	}
	else {
		$('.grid').masonry('destroy');
	}
}

// 리뷰 내용 더보기
function getMoreContents(obj) {
	$(obj).parent().toggleClass('short');
	if( $(obj).html() == "더보기" ) {
		$(obj).html("접기");
	}
	else {
		$(obj).html("더보기");
	}
	setList(true);
}

// 리뷰 더보기
function setMoreReview(obj, type, start_id, page) {

	var jData	= {"mode" : "TODAY_LIST", "type" : type, "start_id" : start_id, "page" : page};
	$.post("/2018/ajax/review.php", jData, function(data) {
        $('#div_' + type).append(data);
	    var $target = $('#div_' + type).find('.ctxt');
	    $.each($target,function(key,data){
	        if($(this).outerHeight() < $(this).find('.content-text-area').outerHeight()) {
	            $(this).parent().find('.more-btn').show();
            }
        });
		$(obj).parent().remove();
		setList(false);
		setList(true);
	});
}

function getReload(m) {
	if( !m ) {
		$('.know_rest').hide();
		var cnt	= ( $('.know_rest').length > 4 ) ? 4 : $('.know_rest').length;
	}
	else {
		var cnt	= ( $('.know_rest').length > m ) ? m : $('.know_rest').length;
	}

	var i = 0;
	while(i < cnt) {
		var rand	= Math.floor(Math.random() * $('.know_rest').length);
		if( $('.know_rest:eq(' + rand + ')').css("display") == "none" ) {
			$('.know_rest:eq(' + rand + ')').show();
			i++;
		}
	}
}










    </script>
</head>

<!-- e: 메인배너2,3-->
<p class="gap20"></p><!-- s: 실시간 맛집평가-->
<div class="m-list realtime-appra" style="margin:0% 5% 10% 6%">
    <p style="font-size:40px; margin-bottom:30px" class="btit" >검색 결과</p>
    <div class="list grid">
        <div class="grid-sizer"></div>

        {% if posts %}
        {% for post in posts %}
          <tr>
                <td> {{ post.id }} </td>
                <td> {{ post.writer }} </td>
                <td> {{ post.contents}} </td>
                <td> {{ post.create_date}} </td>
            </tr>
        {% endfor %}
        {% endif %}

        {% for rest in rests %}
        <!--음식점 1 버튼-->
        <div class="item short" style="width:650px; height:200px; display:inline-block; padding:25px 20px 20px 20px; border:2px solid #e6e6eb; margin-bottom: 30px">
            <div class="img-grade button" onClick="location.href='/rest_detail/{{ forloop.counter }}'">
                <!--음식점 1 대표사진-->
                <div class="img" style="width:180px; height:140px; margin: 0px 10px 0px 10px">
                    <img src="{{rest.pic_url}}" style="width:180px; height:140px;">
                </div>
                <!--음식점 이름~주소-->
                <div>
                    <p class="btxt" style="font-size:25px; padding: 5px 5px 8px 130px">{{rest.name}} <span
                            style="color:#9999a0;font-weight:normal;font-size:15px;">{{rest.address}}</span>
                    </p>
                    <p class="star" style="margin:0px 0px 8px 130px">
                        <span style="width:80%"></span>
                    </p>
                </div>
            </div>
            <div class="grade-list">
            </div>
            <div class="ctxt" style="margin: 80px 5px 5px 5px">
                <div class="content-text-area">
                    <p style="font-size:18px">{{rest.time}}</p>
                </div>
            </div>
            <div class="ctxt" style="margin: 5px">
                <div class="content-text-area">
                    <p style="font-size:18px">{{rest.phonenum}}</p>
                </div>
            </div>
            <div onClick="getMoreContents(this);" class="button more-btn" style="display:none">더보기
            </div>
<!--            &lt;!&ndash;음식점 1 사진&ndash;&gt;-->
<!--            <p class="img" style="height:130px; overflow:hidden;">-->
<!--                <img src="{{rest_menu.}}"-->
<!--                     class="button" style="width:195px; margin-top:-35px;"-->
<!--                     />-->
<!--                <img src="https://s3-ap-northeast-1.amazonaws.com/dcreviewsresized/300_300_20220121012347_menu1_26c47b4327c0.jpg"-->
<!--                     class="button" style="width:195px; margin-top:-35px;"-->
<!--                     />-->
<!--            </p>-->
        </div>
        <!--음식점 1 끝-->
        {% endfor %}
    </div>
</div>
</div>

<div style='height:60px;'></div>
<p class="gap20"></p>

<footer id="footer-wrap" class="div-cont">
</footer>
</body>
</html>
