<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <br>테스트 페이지</br>
    <br><a href = "http://127.0.0.1:8000/users/signup" >가입</a></br>
    <br><a href = "http://127.0.0.1:8000/users/login" >로그인</a></br>
    <br><a href = "http://127.0.0.1:8000/users/logout" >로그아웃</a></br>
    <br><a href = "http://127.0.0.1:8000/users/delete" >회원탈퇴</a></br>
    <a href = "http://127.0.0.1:8000/users/pwchange" >회원변경</a>
        {{user.username}}
</head>
<body>
</body>
</html>